{% extends 'base.html' %}

{% block title %} Aprobar / Rechazar facturas {% endblock %}

{% block content %}

<div class="container-fluid my-4">
    <div class="card p-4 mt-4">
        <div class="d-flex">
            <div class="display-6 flex-fill">Aprobar / Rechazar</div>
        </div>
        <hr class="my-4" />
        <p>Factura encontrada</p>
        <ul class="list-group">
            {% for dato in factura %}
            <li class="list-group-item">Descripción: {{ dato.descripcion }}</li>
            <li class="list-group-item">Codigo factura: {{ dato.codFactura }}</li>
            <li class="list-group-item">Monto: {{ dato.monto }}</li>
            <li class="list-group-item">Fecha inicio: {{ dato.fechaInicio }}</li>
            <li class="list-group-item">Fecha fin: {{ dato.fechaFin }}</li>
            <li class="list-group-item">Estado: {{ dato.estado }}</li>
            <li class="list-group-item">Cliente: {{ dato.cliente.nombreCliente }}</li>
            {% endfor %}
        </ul>
        <form>
            <div class="d-flex gap-2 mt-4">
                <button class="btn btn-outline-success">Aprobar</button>
                <button class="btn btn-outline-danger">Rechazar</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}