{% extends 'base.html' %}

{% block title %} Aprobar / Rechazar facturas {% endblock %}

{% block content %}

<div class="container-fluid my-4">
    <div class="card p-4 mt-4">
        <div class="d-flex">
            <div class="display-6 flex-fill">Aprobar / Rechazar</div>
        </div>
        <hr class="mt-4" />
        <h5 class="mt-2 mb-4">Factura importada</h5>
        {% for importada in importadas %}
        <ul class="list-group">
            <li class="list-group-item">Numero de documento: {{ importada.numDocumento }}</li>
            <li class="list-group-item">Descripción: {{ importada.descripcion }}</li>
            <li class="list-group-item">Monto: {{ importada.abonos }}</li>
            <li class="list-group-item">Fecha: {{ importada.abonos }}</li>
        </ul>
        {% endfor %}
        <hr class="mt-4 mb-2" />
        <div class="row">
            {% for dato in factura %}
            <div class="col-4">
                <p class="my-4">Factura encontrada</p>
                <ul class="list-group">
                    <li class="list-group-item">Descripción: {{ dato.descripcion }}</li>
                    <li class="list-group-item">Codigo factura: {{ dato.codFactura }}</li>
                    <li class="list-group-item">Monto: {{ dato.monto }}</li>
                    <li class="list-group-item">Fecha inicio: {{ dato.fechaInicio }}</li>
                    <li class="list-group-item">Fecha fin: {{ dato.fechaFin }}</li>
                    <li class="list-group-item">Estado: {{ dato.estado }}</li>
                    <li class="list-group-item">Cliente: {{ dato.cliente.nombreCliente }}</li>
                </ul>
                <form action="{% url 'cambioEstado' dato.id %}" method="post">
                    {% csrf_token %}
                    <div class="mt-4">
                        <button class="btn btn-outline-success">Aprobar</a>
                    </div>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}